## Load Dataset

In [1]:
import numpy as np
import pandas as pd

import zipfile
import os

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# extract zip file to dataset dir
def unzip_file(zip_file, extract_dir):
    with zipfile.ZipFile(zip_file, 'r') as zip_ref:
        zip_ref.extractall(extract_dir)

zip_file = 'healthcare-provider-fraud-detection-analysis.zip'
extract_dir = 'dataset'

unzip_file(zip_file, extract_dir)

In [4]:
for dirname, _, filenames in os.walk('dataset'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

dataset/Train-1542865627584.csv
dataset/Test_Beneficiarydata-1542969243754.csv
dataset/Train_Beneficiarydata-1542865627584.csv
dataset/Test_Outpatientdata-1542969243754.csv
dataset/Test-1542969243754.csv
dataset/Train_Outpatientdata-1542865627584.csv
dataset/Train_Inpatientdata-1542865627584.csv
dataset/Test_Inpatientdata-1542969243754.csv
dataset/.ipynb_checkpoints/Test-1542969243754-checkpoint.csv
dataset/.ipynb_checkpoints/Train_Inpatientdata-1542865627584-checkpoint.csv
dataset/.ipynb_checkpoints/Train_Outpatientdata-1542865627584-checkpoint.csv
dataset/.ipynb_checkpoints/Train-1542865627584-checkpoint.csv

In [20]:
train = pd.read_csv('dataset/Train-1542865627584.csv')
train_be = pd.read_csv('dataset/Train_Beneficiarydata-1542865627584.csv')
train_ip = pd.read_csv('dataset/Train_Inpatientdata-1542865627584.csv')
train_op = pd.read_csv('dataset/Train_Outpatientdata-1542865627584.csv')

In [21]:
test = pd.read_csv('dataset/Test-1542969243754.csv')
test_be = pd.read_csv('dataset/Test_Beneficiarydata-1542969243754.csv')
test_ip = pd.read_csv('dataset/Test_Inpatientdata-1542969243754.csv')
test_op = pd.read_csv('dataset/Test_Outpatientdata-1542969243754.csv')

## Data Profilling

In [22]:
print(f'Shape of df_train_ip: {train_ip.shape[0]} row and {train_ip.shape[1]} columns')
train_ip.head()

Shape of df_train_ip: 40474 row and 30 columns

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [23]:
print(f'Shape of df_train_op: {train_op.shape[0]} row and {train_op.shape[1]} columns')
train_op.head()

Shape of df_train_op: 517737 row and 27 columns

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,V5866,V1272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,30000,72887,4280,7197,V4577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [24]:
data = pd.concat([train_op, train_ip])
data

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode,AdmissionDt,DischargeDt,DiagnosisGroupCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,V5866,V1272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,56409,NaN,NaN,NaN
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,79380,NaN,NaN,NaN
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,30000,72887,4280,7197,V4577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,71947,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40469,BENE159167,CLM69886,2009-09-28,2009-10-02,PRV53671,7000,PHY345332,PHY319565,NaN,2851,2762,53550,V0254,V1005,5173,79092,70704,2869,4148,9904.0,NaN,NaN,NaN,NaN,NaN,1068.0,2859,2009-09-28,2009-10-02,812
40470,BENE159175,CLM74504,2009-11-03,2009-11-06,PRV54981,4000,PHY342806,PHY365497,NaN,42823,4148,4019,3970,4241,V1042,49122,4254,5990,NaN,8605.0,NaN,NaN,NaN,NaN,NaN,1068.0,79902,2009-11-03,2009-11-06,228
40471,BENE159177,CLM76485,2009-11-18,2009-11-22,PRV56588,3000,PHY423220,PHY332752,NaN,4280,3963,5859,4019,40390,4111,71534,71590,V4502,NaN,9390.0,NaN,NaN,NaN,NaN,NaN,1068.0,78605,2009-11-18,2009-11-22,302
40472,BENE159177,CLM79949,2009-12-17,2009-12-18,PRV56575,5000,PHY353156,NaN,NaN,7802,5859,496,2809,V1254,42822,4263,0414,41400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1068.0,7802,2009-12-17,2009-12-18,309
40473,BENE159188,CLM69948,2009-09-28,2009-10-06,PRV54765,15000,PHY431177,PHY352941,NaN,1540,27800,6146,2449,42830,412,4019,2800,27801,NaN,1733.0,NaN,NaN,NaN,NaN,NaN,1068.0,1536,2009-09-28,2009-10-06,340

In [16]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 558211 entries, 0 to 40473
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  558211 non-null  object
 1   ClaimID                 558211 non-null  object
 2   ClaimStartDt            558211 non-null  object
 3   ClaimEndDt              558211 non-null  object
 4   Provider                558211 non-null  object
 5   InscClaimAmtReimbursed  558211 non-null  int64
 6   AttendingPhysician      556703 non-null  object
 7   OperatingPhysician      114447 non-null  object
 8   OtherPhysician          199736 non-null  object
 9   ClmDiagnosisCode_1      547758 non-null  object
 10  ClmDiagnosisCode_2      362605 non-null  object
 11  ClmDiagnosisCode_3      243055 non-null  object
 12  ClmDiagnosisCode_4      164536 non-null  object
 13  ClmDiagnosisCode_5      111924 non-null  object
 14  ClmDiagnosisCode_6      84392 non-null   object
 15  ClmDiagnosisCode_7      66177 non-null   object
 16  ClmDiagnosisCode_8      53444 non-null   object
 17  ClmDiagnosisCode_9      41815 non-null   object
 18  ClmDiagnosisCode_10     5010 non-null    object
 19  ClmProcedureCode_1      23310 non-null   float64
 20  ClmProcedureCode_2      5490 non-null    float64
 21  ClmProcedureCode_3      969 non-null     float64
 22  ClmProcedureCode_4      118 non-null     float64
 23  ClmProcedureCode_5      9 non-null       float64
 24  ClmProcedureCode_6      0 non-null       float64
 25  DeductibleAmtPaid       557312 non-null  float64
 26  ClmAdmitDiagnosisCode   145899 non-null  object
 27  AdmissionDt             40474 non-null   object
 28  DischargeDt             40474 non-null   object
 29  DiagnosisGroupCode      40474 non-null   object
dtypes: float64(7), int64(1), object(22)
memory usage: 132.0+ MB

In [19]:
cat_vars = [var for var in df_train_all.columns if =='O']
cat_vars

[]