In [2]:
!pip install kaggle

Collecting kaggle
  Using cached kaggle-1.6.6-py3-none-any.whl
Requirement already satisfied: six>=1.10 in c:\users\nusatrip\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\nusatrip\anaconda3\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\nusatrip\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\nusatrip\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\nusatrip\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\nusatrip\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\nusatrip\anaconda3\lib\site-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in c:\users\nusatrip\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\nusatrip\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\nusatrip\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\nusatrip\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nusatrip\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nusatrip\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\nusatrip\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Installing collected packages: kaggle
Successfully installed kaggle-1.6.6

In [23]:
!kaggle datasets download -d rohitrox/healthcare-provider-fraud-detection-analysis \
&& if not exist dataset mkdir dataset && move healthcare-provider-fraud-detection-analysis.zip dataset/

Downloading healthcare-provider-fraud-detection-analysis.zip to C:\Users\Nusatrip\Repo\healthcare_provider_fraud_detection

        1 file(s) moved.

  0%|          | 0.00/25.4M [00:00<?, ?B/s]
  4%|3         | 1.00M/25.4M [00:01<00:29, 865kB/s]
  8%|7         | 2.00M/25.4M [00:01<00:15, 1.55MB/s]
 12%|#1        | 3.00M/25.4M [00:01<00:11, 2.02MB/s]
 16%|#5        | 4.00M/25.4M [00:02<00:09, 2.41MB/s]
 20%|#9        | 5.00M/25.4M [00:02<00:08, 2.65MB/s]
 24%|##3       | 6.00M/25.4M [00:02<00:07, 2.81MB/s]
 28%|##7       | 7.00M/25.4M [00:03<00:06, 2.81MB/s]
 31%|###1      | 8.00M/25.4M [00:03<00:06, 2.94MB/s]
 35%|###5      | 9.00M/25.4M [00:03<00:05, 3.02MB/s]
 39%|###9      | 10.0M/25.4M [00:04<00:05, 3.13MB/s]
 43%|####3     | 11.0M/25.4M [00:04<00:05, 3.00MB/s]
 47%|####7     | 12.0M/25.4M [00:04<00:04, 3.15MB/s]
 51%|#####1    | 13.0M/25.4M [00:05<00:04, 3.02MB/s]
 55%|#####5    | 14.0M/25.4M [00:05<00:03, 3.08MB/s]
 59%|#####9    | 15.0M/25.4M [00:05<00:03, 3.11MB/s]
 63%|######2   | 16.0M/25.4M [00:06<00:03, 3.20MB/s]
 67%|######6   | 17.0M/25.4M [00:06<00:02, 3.17MB/s]
 71%|#######   | 18.0M/25.4M [00:06<00:02, 2.96MB/s]
 75%|#######4  | 19.0M/25.4M [00:07<00:02, 3.04MB/s]
 79%|#######8  | 20.0M/25.4M [00:07<00:01, 2.92MB/s]
 83%|########2 | 21.0M/25.4M [00:07<00:01, 3.02MB/s]
 87%|########6 | 22.0M/25.4M [00:08<00:01, 2.84MB/s]
 91%|######### | 23.0M/25.4M [00:08<00:00, 2.56MB/s]
 94%|#########4| 24.0M/25.4M [00:09<00:00, 2.66MB/s]
 98%|#########8| 25.0M/25.4M [00:09<00:00, 2.39MB/s]
100%|##########| 25.4M/25.4M [00:09<00:00, 2.44MB/s]
100%|##########| 25.4M/25.4M [00:09<00:00, 2.68MB/s]

In [26]:
# melakukan ekstraksi pada file zip
import zipfile,os

local_zip = 'dataset/healthcare-provider-fraud-detection-analysis.zip'
zip_ref = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('dataset/')
zip_ref.close()

In [38]:
import pandas as pd
pd.set_option('display.max_columns',100)

df_test_ben = pd.read_csv('dataset/Test_Beneficiarydata-1542969243754.csv')
df_test_inp = pd.read_csv('dataset/Test_Inpatientdata-1542969243754.csv')
df_test_out = pd.read_csv('dataset/Test_Outpatientdata-1542969243754.csv')

In [39]:
print(f'Shape of data: {df_test_ben.shape[0]} row and {df_test_ben.shape[1]} columns')
df_test_ben.head()

Shape of data: 63968 row and 25 columns

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70
1,BENE11007,1940-09-01,2009-12-01,1,2,0,45,610,12,12,1,1,2,2,2,2,1,2,1,1,2,0,0,1490,160
2,BENE11010,1936-07-01,NaN,2,1,0,41,30,12,12,2,1,2,1,1,2,1,1,1,2,2,0,0,1170,660
3,BENE11011,1914-03-01,NaN,2,2,0,1,360,12,12,2,1,1,2,2,1,1,2,2,1,1,5000,1068,250,320
4,BENE11014,1938-04-01,NaN,2,1,Y,45,780,12,12,2,1,1,2,1,1,2,1,2,2,2,21260,2136,120,100

In [40]:
print(f'Shape of data: {df_test_inp.shape[0]} row and {df_test_inp.shape[1]} columns')
df_test_inp.head()

Shape of data: 9551 row and 30 columns

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11014,CLM67387,2009-09-09,2009-09-16,PRV57070,9000,PHY317786,PHY427017,NaN,2009-09-09,5789,1068.0,2009-09-16,332,5780,5533,496,V420,40390,2851,5990,570,41071,4280,4443.0,5849.0,NaN,NaN,NaN,NaN
1,BENE11017,CLM31237,2008-12-25,2009-01-08,PRV54750,14000,PHY314656,PHY426644,NaN,2008-12-25,5939,1068.0,2009-01-08,661,1889,41071,5990,5601,4588,5845,4549,29570,34831,NaN,5551.0,NaN,NaN,NaN,NaN,NaN
2,BENE11026,CLM78930,2009-12-09,2009-12-13,PRV53758,2000,PHY349495,NaN,NaN,2009-12-09,4019,1068.0,2009-12-13,241,4010,78791,60000,41401,V1254,4372,78650,7813,4254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11031,CLM56810,2009-06-23,2009-07-06,PRV55825,16000,PHY429538,PHY371893,NaN,2009-06-23,8208,1068.0,2009-07-06,564,8208,4168,920,5990,40391,2859,4254,41400,5849,41401,8152.0,3320.0,NaN,NaN,NaN,NaN
4,BENE11085,CLM34625,2009-01-20,2009-01-31,PRV52338,19000,PHY397161,NaN,NaN,2009-01-20,4279,1068.0,2009-01-31,880,29654,V142,78702,30503,V140,V4582,V6109,7242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
print(f'Shape of data: {df_test_out.shape[0]} row and {df_test_out.shape[1]} columns')
df_test_out.head()

Shape of data: 125841 row and 27 columns

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11001,CLM392397,2009-06-02,2009-06-02,PRV55962,30,PHY347633,NaN,PHY347633,V5832,V5861,2724,3182,V5869,42731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,BENE11001,CLM430760,2009-06-23,2009-06-23,PRV56112,30,PHY381777,NaN,PHY381777,9594,E9174,4019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,BENE11007,CLM233081,2009-03-07,2009-03-07,PRV56979,200,PHY425311,NaN,PHY425311,7248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11007,CLM496381,2009-07-29,2009-07-29,PRV56573,10,PHY393253,PHY347995,NaN,58889,2449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,5939
4,BENE11007,CLM521391,2009-08-12,2009-08-12,PRV56573,10,PHY417685,NaN,PHY382041,V666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [42]:
df_test_out.Provider.nunique()

1259